<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body background="https://wallpapercave.com/wp/lORaIgI.jpg">
<h1><font color="white">Buy your ticket !</font></h1>
<br/>
<br/>
<h4><font color="white">Here, you can see your options to choose when buying a ticket.</font></h4>

<br/>
<table  border="1">
    <font color="white">
        <thead>
        <tr>
            <th><font color="white">ticket.ID</font></th>
            <th><font color="white">ticket.Place</font></th>
            <th><font color="white">ticket.PlaceNumber</font></th>
            <th><font color="white">ticket.Category</font></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${ ticketList }" >

            <td th:text="${ ticket.id }" style="color:#ffffff">ID</td>
            <td th:text="${ ticket.place }" style="color:#ffffff"></td>
            <td th:text="${ ticket.placeNumber }" style="color:#ffffff"></td>
            <td th:text="${ ticket.category }" style="color:#ffffff"></td>
            </td>
        </tr>
        </tbody>
    </font>
</table>

<br/>
<br/>
<br/>

<form   th:object="${newTicket}" method = "POST">
    <div class="col-sm-12">
        <label><font color="gray">Ticket ID</font></label>
        <input type = "text" th:field="*{id}"/>
    </div>
    <div class="col-sm-12">
        <label><font color="gray">Ticket Place</font></label>
        <input type = "text" th:field="*{place}"/>
    </div>
    <div class="col-sm-12">
        <label><font color="gray">Ticket PlaceNumber</font></label>
        <input type = "text" th:field="*{placeNumber}"/>
    </div>
    <div class="col-sm-12">
        <label><font color="gray">Ticket Category</font></label>
        <input type = "text" th:field="*{category}"/>
    </div>
    <div class="col-sm-12">
        <label><font color="gray">Play's Name</font></label>
        <input type = "text" th:field="*{playName}"/>
    </div>

    <!--<button type="submit" class = "btn btn-primary" name = "action" value="Buy Ticket">BUY Ticket</button>-->
    <div style="margin:20px">
        <button  type="submit" onclick=parent.open("http://localhost:8090/send-mail-attachment") class = "btn btn-primary" name = "action" value=" Ticket">Get Ticket</button>
    </div>
</form>




</body>

</html>
